@charset "UTF-8";
.btn {
	width: fit-content;
}

body {
	background-color: black;
	color: white;
}

.alert {
	margin: 15px;
	width: fit-content;
	height: fit-content;
}

p {
	margin: 0 !important;
}

.display-flex {
	display: flex;
	flex-direction: column;
    align-items: center;
}